body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

main {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.container {
    border: 5px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px black;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.cep {
    border-bottom: 5px solid black;
    padding-bottom: 15px;   
}

h1 {
    margin: 0;
    margin-bottom: 1.5rem;
    text-align: center;
}

.endereco {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

button {
    margin: 0 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (min-width: 450px) {
    button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
}
